<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.http.persistence.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.http.model.User">
        <id column="openid" property="openid" />
        <result column="nickName" property="nickName" />
        <result column="sex" property="sex" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="language" property="language" />
        <result column="headImgUrl" property="headImgUrl" />
        <result column="subscribeTime" property="subscribeTime" />
        <result column="unionId" property="unionId" />
        <result column="remark" property="remark" />
        <result column="groupId" property="groupId" />
    </resultMap>

</mapper>
