<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.custom.dao.ProjectCityHospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.custom.model.ProjectCityHospital">
        <id column="hospitalid" property="hospitalid" />
        <result column="cityid" property="cityid" />
        <result column="projectid" property="projectid" />
        <result column="hospital_name" property="hospitalName" />
        <result column="department_name" property="departmentName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        hospitalid, cityid, projectid, hospital_name AS hospitalName, department_name AS departmentName
    </sql>
    
    <select id="getHospitalListByCityid" resultMap="BaseResultMap">
    	select * from gene_project_city_hospital where projectid = #{projectid}
    	<if test="null!=cityid and cityid!=0">
    		and cityid = #{cityid}
    	</if>
    	order by hospitalid desc
    </select>
    
    <update id="hospitalModify">
    	update gene_project_city_hospital set ${name} = #{value} where hospitalid = #{pk}
    </update>

</mapper>
