@layout("/common/_container.html"){
<link rel="stylesheet" href="${ctxPath}/static/css/plugins/switchery/switchery.css">
<link rel="stylesheet" href="${ctxPath}/static/css/plugins/summernote/summernote.css">
<style>
	.btn-default{
		background: none;
		color:#333;
	}
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="projectInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                     	<#input id="xmmc" name="项目名称" underline="true"/>
                     	<#input id="syz" name="适应症" underline="true"/>
                     	<div class="form-group">
						    <label class="col-sm-3 control-label">项目状态</label>
						    <div class="col-sm-9">
						        <input type="checkbox" class="js-switch" checked />
						    </div>
						</div>
    					<div class="hr-line-dashed"></div>
                </div>
                <div class="col-sm-6">
                		<#input id="projectid" name="项目编号" underline="true" readonly="true"/>
			            <#input id="xmyy" name="项目用药" underline="true"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">截止时间</label>
                            <div class="col-sm-9">
                                <input id="jzsj" class="laydate-icon form-control layer-date">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                </div>
            </div>			

			<div class="row">
                <div class="form-group">
					<div class="col-sm-6 b-r" style="text-align:right">
                     	<div id="imagePicker">
                         	<i class="fa fa-upload"></i>&nbsp&nbsp缩略图<br/>
                         	<span>
                         		建议尺寸：80 * 80<br/>
                         		或比例：1 : 1
                         	</span>
                     	</div>
                 	</div>
                 	<div class="col-sm-6">
               			<img class="img-responsive" id="imgview" src=""/>
               		</div>
               </div>
               <div class="hr-line-dashed"></div>
               <div class="form-group">
               		<div class="col-sm-1"><input type="hidden" id="xmjsContent" value=""/></div>
                    <div class="col-sm-5 b-r">
                    	<b>项目介绍</b>
                        <textarea id="xmjs" class="summernote"></textarea>
                    </div>
                    <div class="col-sm-5">
                    	<b>参加标准</b>
                    	<textarea id="cjbz" class="summernote"></textarea>
                    </div>
                    <div class="col-sm-1"><input type="hidden" id="cjbzContent" value=""/></div>
               </div>
               <div class="hr-line-dashed"></div>
			</div>
			
			
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProjectInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProjectInfoDlg.close()"/>
                </div>
            </div>
            
        </div>

    </div>
</div>
<script src="${ctxPath}/static/js/plugins/switchery/switchery.js"></script>
<script src="${ctxPath}/static/js/plugins/summernote/summernote.min.js"></script>
<script src="${ctxPath}/static/js/plugins/summernote/summernote-zh-CN.js"></script>
<script src="${ctxPath}/static/modular/custom/project/project_info.js"></script>
@}