@layout("/common/_container.html"){
<style>
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="projectCityForm">
        	
        	<input type="hidden" id="projectid" value="${item.projectid}"/>
			        	
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="cityName" name="城市" underline="true"/>
                    <#input id="person" name="联系人" underline="true"/>
                </div>
                <div class="col-sm-6">
                	<#input id="xmmc" name="项目名称" value="${item.xmmc}" underline="true" readonly="true"/>
                	<#input id="phone" name="联系电话" underline="true"/>
                </div>
            </div>
			
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProjectCityDlg.citySubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProjectCityDlg.close()"/>
                </div>
            </div>
            
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/custom/project/project_city.js"></script>
@}
