@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="secretKeyForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="userSel" name="云端用户" underline="true" readonly="readonly" hidden="userId"
								clickFun="SecretKeyInfoDlg.showCloudUserTree(); return false;"
								style="background-color: #ffffff !important;"/>
                </div>

                <div class="col-sm-6">
                            <#input id="appName" name="AppName" underline="true"/>
                </div>
            </div>
            <!-- 这是云端用户选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SecretKeyInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SecretKeyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/secretKey/secretKey_info.js"></script>
@}
