<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.SecretKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.SecretKey">
        <id column="appKey" property="appKey" />
        <result column="userId" property="userId" />
        <result column="appSecret" property="appSecret" />
        <result column="status" property="status" />
        <result column="appName" property="appName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, appKey, appSecret, status, appName
    </sql>
	<select id="selectSecretKeys" resultType="map">
		select
		<include refid="Base_Column_List" />
		from sys_secret_key
		where 1=1
		<if test="appName != null and appName != ''">
		and appName like CONCAT('%',#{appName},'%')
		</if>
	</select>
	
	<update id="setStatus">
		update sys_secret_key set status = #{status} where appKey = #{appKey}
	</update>
</mapper>
